@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------Heading*/

header {
    margin: 0;
    padding-top: 20px;
    background-color: #696969;
    color: #F5F5DC;
    font-family: "Exo", sans-serif;
    text-align: center;
}






/*------------------------------footer*/

footer{
    margin:0;
    padding-top: 20px;
    background-color: #696969;
    color: #F5F5DC;
    font-family: "Exo", sans-serif;
    text-align: center;
}


