@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------------Heading*/

header {
    margin: 0;
    margin-bottom: 0;
    padding-top: 20px;
    background-color: #696969;
    color: #F5F5DC;
    font-family: "Exo", sans-serif;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
}

/*------------------------------Navbar*/

.navbar{
    display: inline-block;
    color: #F5F5DC;
    padding:20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Exo", sans-serif;
}


    





/*------------------------------Content*/

section {
    background-color: #FAEBD7;
   margin: 0;
}

.welcome {
    
    font-family: "Exo", sans-serif;
    text-align: center;
}


.welcome p {
    display: inline-block;
    
}





/*------------------------------footer*/

footer{
    margin:0;
    padding-top: 20px;
    background-color: #696969;
    color: #F5F5DC;
    font-family: "Exo", sans-serif;
    text-align: center;
}




